.search-bar {
  display: flex;
  /* flex-wrap: wrap;        allows pills + input to wrap */
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 10px;
  width: 98%;
  min-height: 4vh;
  cursor: text;
}
.search-input {
  flex: 1;             
   border: none;
  outline: none;
  font-size: 1.2rem;
  min-width: 120px;    
}
.suggestion-list{
  margin: 1rem;
  padding: 0.2rem;
  overflow-y: scroll;
  width: 98%;
  border: 1px solid black;
}
.suggestion-list li{
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.2rem;
}
.pill{
  background-color: black;
  color: white;
  min-width: 12rem;
  display: flex;
  border-radius: 2rem;
  min-height: 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.pill img{
  max-height: 1.5rem;
}
.hide{
  display: none;
}